header{color: white;background-color: black;text-align: center;padding: 15px 10px 10px 10px;}
nav{background-color: gray;}
.aside{background-color: gray;color: white;text-align: center;}
footer{color: white;background-color: black;text-align: center;padding: 15px 10px 10px 10px;}
p{color: white;background-color: gray;text-align:justify ;padding: 5px;margin: 10px;}
form{padding: 10px;margin: 10px;}
/* .card{background-color: blac;} */